@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Open Sans", "Manrope", sans-serif;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
}

@media (max-width: 620px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 620px) and (max-width: 452px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
  }
}
header {
  background-color: rgb(10, 38, 64);
  padding: 56px 0 64px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
header nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
header nav .nav-menu .nav-menu__link {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: rgb(255, 255, 255);
}

.lg-btn {
  background: rgb(255, 255, 255);
  color: rgb(10, 38, 64);
  width: Hug 128px px;
  height: Hug 40px px;
  padding: 8px 40px 8px 40px;
  gap: 8px;
  border-radius: 24px;
  opacity: 0px;
  cursor: pointer;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  transition: 0.5s ease;
}

.lg-btn:hover {
  background-color: red;
  box-shadow: 0px 0px 45px 12px rgb(100, 227, 161);
  color: #ffffff;
}