@use "../utils/mixin" as mxn;
@use "../utils/variables" as var;
@use "../components/button" as mxnBtn;
@use "../layout/grid" as mxnGrid;
.cards {
  .card-row {
    padding: 80px 0 185px;
    @include mxnGrid.grid(3, 100px);
    .card {
      width: 300px;
      .card-body {
        padding-top: 24px;
        h6 {
          @include mxn.font("Open Sans", 24px, 400, 36px, var.$text-black);
        }
        p {
          padding: 12px 0 28px;
          @include mxn.font("Open Sans", 20px, 400, 32px, var.$text-gray);
        }
        button {
          @include mxnBtn.btn(
              var.$btn-opacity0,
              var.$bg-black,
              center,
              space-between,
              0
            )
            // background-color: var.$btn-opacity0;
            // border: none;
            // padding-bottom: 8px;
            // border-bottom: 1px solid var.$bg-black;
            // @include mxn.flex(center, space-between, 0);
        }
      }
    }
  }
}
