$bg-green: rgba(105, 230, 166, 1);
$bg-black: rgba(10, 38, 64, 1);

$text-white: rgba(255, 255, 255, 1);
$text-black: rgba(0, 0, 0, 1);
$text-gray: rgba(119, 119, 119, 1);
$btn-opacity0: rgba(255, 255, 255, 0);

$primary-color: #0a2540;
$secondary-color: #5e60ce;
$hiring-color: #36c691;

$sc-p-text: rgba(119, 119, 119, 1);

$green_nu-clr: rgba(79, 233, 164, 1);

